
.practice{width: 100%; border-bottom: 1px solid gray; background-color:#4b5320;
}
.practice>div{
    font-weight: 700;
    font-size: 24px;
    margin-left: 45%;
    display: inline-block;
}
.practice>a>img{
    width: 35px;
    padding-left: 10px;
}
.alde{
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(121deg, rgba(255,255,255,0) 0%, rgba(75,83,32,0.2945553221288515) 100%)
}
.about{
width: 60%;
padding-left: 10px;
padding-right: 10px;
}
.about>img{
    width: 100%;
    object-fit: cover;
    max-height: 500px;}
.about>h2{
    width: 100%;;
font-size: 34px;
text-align: center;}
.about>p{
    font-size: 24px;
    margin-top: 5px;

}
.about>p:nth-child(){
    margin-top: 20px;
}
.butcall{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.about>h3{
font-size: 28px;
}
@media all and (max-width:700px){
    .about{
        width: 100%;
    }
    .practice>div{
        font-weight: 700;
        font-size: 24px;
        margin-left: 26%;
        display: inline-block;
    }
}