html{
  width: 100%;
  }
  *{
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
              font-family: "Varela", sans-serif;
              outline: none;
  }
  @font-face {
    font-family: 'Blackops'; /* Имя шрифта, которое будем использовать */
    src: url('./font/StardosStencil-Bold.ttf') format('truetype'); /* Указываем путь до файла шрифта */
    font-weight: normal; /* Можно задать разные веса (normal, bold и т.д.) */
    font-style: normal;  /* Указываем стиль шрифта (normal, italic и т.д.) */
  }
  
  .butcall{
    background-color: white;
    border: none;
   color:rgba(29, 29, 27, 1);
    padding: 20px 52px;
    text-align: center;
   text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  }
  
  .butcall:hover{
      background-color: rgba(255, 204, 0, 0.85);
  }
  .navbar{
    font-weight: 1000;
      height: 70px;
  display: flex;
  top: 0;
  position: sticky;
  justify-content: space-around;
  row-gap: 10px;
  align-items: center;
  background-color: #4b5320;
  z-index: 15;
  }
  #Swipe{
      height: 75vh;
      width: 75vw;
  }
  
  a{color: rgb(255, 255, 255);
  vertical-align: middle;
  font-weight: 700px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  }
  .name{
    padding-top: 37px;
    font-family: Blackops;
      color: black;
      display: inline-block;
      font-size: 34px;
      text-shadow: 1px  black;
      font-weight: 3000;
  
  }
  
  .mainpage{
      display: flex;
      justify-content: center;
      background: url(./icons/back.jpg);
      background-position: center; 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0px 15%;
      width: 100%;
      height: 100vh;
      max-height: 1080px;}
  .logoname{
      display: flex;
      align-items: center;
  }
  .logoname>img{
      width: 60%;
  }
  
  .info{
      display:flex;
      width: 50%;
      height: 100%;
      max-height: 1080px;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-items:center;
      align-content: center;
  }
  
  h1{color: rgb(255, 255, 255);font-size: 90px; margin-bottom: 15px;  text-align: center;
text-shadow: 1px 2px black;
}
  .info>h2:nth-child(2){color: white;font-size: 50px; width: 100%; text-align: center;text-shadow: 1px 2px black;
  }
  .info>h2:nth-child(3){color: white; font-size: 50px; text-align: center;text-shadow: 1px 2px black;
 }
  .info>h2{margin: 0.5rem; width: 75%;}
  .main{
      width: 100%;
      background: rgb(255,255,255);
      background: linear-gradient(121deg, rgba(255,255,255,0) 0%, rgba(75,83,32,0.2945553221288515) 100%);
      
  }
  
  .AccordionTrigger{
    text-decoration: none;
    border: none;
width: 100%;
display: flex;
flex-wrap: wrap;
align-content: space-around;
justify-content: space-between;   
 align-items: stretch;
border-bottom: 3px solid #4b5320;
transition: all 1s ease-in;
background-color: inherit;
font-size: 30px;
}
.AccordionRoot{
width: 75%;
background-color: inherit;
}

.AccordionTrigger::after{
align-self: end;
content: url(./icons/plus-solid.svg);
width: 35px;
height: 35px;
padding-top: 25px;
padding-bottom: 25px;
justify-self: end;
}
.AccordionTrigger>div{
    padding-top: 3%;
    text-align: start;
    display: inline-block;
    width: 85%;
    font-size: 25px;
    font-weight: 700;
    height: 100%;
}
.AccordionTrigger[data-state="open"]::after{
content: url(./icons/x-solid.svg);
width: 27px;
height: 27px;
}

  .help{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-around;
      align-items: center;
      scroll-margin-top: 65px;
  }
  .help>h2{
    font-size: 40px;
    margin-top: 20px;
  }

  

  /* Constult */
  .consulting{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(105, 128, 166, 1);
  scroll-margin-top: 50px; /* Задайте смещение, например, высоту фиксированного меню */
  }
  .consulting>p:nth-child(2){
    font-size: 30px;
}
.consulting>p{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color: black;
}
.consulting:nth-child(2){
    font-size: 30px;
}
  
  .consulting>div>.butcall{
    font-size: 25px;
    padding: 20px 170px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .consulting>h2{
      font-size: 40px;
      margin-top:45px;
      height: 20%;
      text-align: center;
      width: 90%;
  }
  
  
  
  .documents{
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
  }
  
  .documents>h2{
    font-size: 40px;
    margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
  }
  
  .doc{
      margin: 1em;
      display: flex;
      width: 70%;
    gap: 4vw;
    border-bottom: solid 1px #4b5320;
  }
  
  .doico{
      background-image: url(./icons/file.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 3vw;
      height: 3vh;
  margin: 5px 0px 0px 0px;
  z-index: 5;
  }
  
  .doc>h3{
      width: 85%;
      height: 100%;
      vertical-align: middle;
      font-weight: 700;
      font-size: 28px;
      color: black;
  }
  
  .backgroundpage{
    display: flex;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5;
  justify-content: center;
  align-items: center;
  }
  .callpng{
    margin-right: 10px;
    
  }
  
  .callpage{
      border: solid 2.5px #4b5320;
      display: flex;
      background-color: white;
  width: 45%;   
   height: 30%;
      z-index: 6;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      top: 5%;
  }

  form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  form>h2{
      text-align: center;
  }
  form>p{
      text-align: center;
      width: 60%;
  }
  form>label{
      font-size: 20px;
      font-weight: 600;
  }
  
  form>input{
    font-size: 54px;
    width: 50%;
    height: 45px;
      border-radius: 8px;
      border: solid 2px #4b5320;
      font-size: 15px;
  }
  
  .senderbutt{
      background-color: rgba(255, 204, 0, 1);
      border: none;
     color:rgba(29, 29, 27, 1);
      padding: 16px 165px;
      text-align: center;
     text-decoration: none;
      display: inline-block;
      font-size: 22px;
    border-radius: 24px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    margin-bottom: 10px;
    }
    .navbar>div>.butcall{
      margin: 0px 0px 0px 0px;
      padding: 16px 32px;
  }
  
    .senderbutt:hover{
        background-color: rgba(255, 204, 0, 0.85);
    }
    .socials>div>a>img{
        width: 35px;
    }


    .socials>p{
        width: 100%;
        text-align: center;
    }
    
    .socials>div>a{
        text-align: center;
        width: 34%;
        height: 40%;
    }
    :root{
        --swiper-theme-color:none;
    }
    .swiper{
        height: 89%;
    }
  
.dropdown-container{
    width: 20%;
    height: 100%;
}
    .dropdown-button{
  background: url(./icons/table-solid.svg)no-repeat center -5px;
  background-size: contain;
      width: 100%;
      height: 100%;
    padding-top: 15px;
    border: none;
    position: relative;
    }

  
    .dropdown-container {
        position: relative;
        
      }
      
      .dropdown-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      .dropdown-menu {
        width: 98vw;
        list-style: none;
        padding: 0;
        display: block;
        position: fixed;
        top: 7.5%;
        left: 0.1%;
      }
      ul{
        background-color: #4b5320;
        border: none;
      }
      
      .dropdown-menu li {
        padding: 10px;
        text-align: center;
     
      }
      li>a{
        display: block;
        width: 100%;
      }
      .dropdown-menu li:last-child {
        border-bottom: none;
      }
      
  section{
      width: 100%;
      scroll-margin-top: 65px; /* Задайте смещение, например, высоту фиксированного меню */
  }
  .swiper-slide-zoomed{
      z-index: 15;
  }
  
  .toggleli{
      display: block;
  }
  section>h2{
    font-size: 40px;
      text-align: center;
  }
  .swiper-slide{
      height: 100%;
      width: 100%;
      margin-right: -25px;
  }


  section{
      height: 40em;
  }
  .swiper-slide-zoomed{z-index: 15;}
  .swiper-zoom-container>img{
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
  

.swiper-container {
    width: 100%;
    height: auto; /* Если вам нужно, чтобы высота контейнера была адаптивной */
  }
.contacts{
    display: inline block;
    width: 100%;
    border-top: 2px solid #4b5320;
    height: 350px;
    margin-top: 25px;
    background-color: #4b5320;
}
.contactinfo{
    display: flex;
    color: white;
    justify-content: space-around;
    height: 70%;
    align-items: center;
}

.contactinfo>div>div>p:nth-child(1){
    font-weight: 1000;
    font-size: 20px;
    padding-top: 5%;
}
.contactinfo>div{
    height: 100%;
    width: 32%;
}
.contactinfo>div>p:nth-child(3){
    margin-top: 1.5%;
    font-weight: 1000;
    font-size: 20px;
}
.socials{
    font-size: 18px;
    font-weight: 700;
    height: 60%;
    width: 15%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messengers{
    display: flex;
height: 35%;
}
.messengers>a{
    width: 25%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content:space-around;
}
.contactinfo>div:nth-child(1)>div{
    width: 100%;
    height: 50%;
}
.contactinfo>div:nth-child(2)>div{
    width: 100%;
    height: 50%;
}
.messengers>a>img{
padding-top: auto;
    width: 35px;
    align-self: center;
}
.messengers>a:nth-child(1){
    background-color: #7360f2;
}
.messengers>a:nth-child(1){
    background-color: #7360f2;
}
.messengers>a:nth-child(2){
    background-color: rgb(255, 255, 255);
}
.messengers>a:nth-child(3){
    background-color: #24A1DE;
}
.messengers>a:nth-child(4){
    background-color: #25D366
    ;
}
.social{
    display: flex;
    width: 50%;
    height: 45%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

  

@media all and (max-width:1260px){
    .mainpage{
        background-size: cover;
background-position: 0;
    }
    .navbar>.linked{
        display: none;
    }


}
  
    @media all and (max-width:1040px){
      .info>h2:first-child{font-size: 44px; }
  .info>h2:nth-child(2){font-size: 33px; margin: 0px 0px 0px 0px; width: 100%;}
  .info>h2:nth-child(3){ font-size: 20px;}

      .doc{
      width: 90%;
      }
      .doico{
          height: 4vh;
          width: 5vw;
      }
      .navbar>div>.butcall{
        font-size: 14px;
          padding: 8px 12px;
      }


      .consulting>div>i{
          height: 20px;
          width: 20px;
      }
      .senderbutt{
    padding: 16px 80px;
      }
  
      .AccordionRoot{
width: 100%;
      }

      .helpinfo>p{
          width: 85%;
          word-wrap: break-word
      }

@media all and (max-width:730px){
    .name{
        font-size: 29px;
    }
    .navbar>div>.butcall{
        padding: 4px 10px;
    }
}

  
  }
  @media all and (max-width:600px){
      .mainpage{
          background-size: 350%;
  background-position-x: 39%;    
  }
  .senderbutt{
      padding: 16px 24px;
  }
  .consulting>div>.butcall {
    padding: 20px 100px;
  }
  

  

  
  .navbar>div>.butcall{
      padding: 6px 12px;
      font-size: 12px;
  }
  .name{
      font-size: 25px;
  }
  
  


  h1{
      font-size: 36px;
  }
  .callpage{
      width: 75%;
      height: 60%;
  }
  }

  
  @media all and (max-width:500px){
    .help>h2{
        text-align: center;
    }
      section>h2{
          font-size: 39px;
      }
      .name{
        font-size: 16px;
    }
    .navbar>div>.butcall{
        padding: 4px 10px;
    }
    .dropdown-button{
       background-position: 35%;
    }
    .mainpage{
        background-size: 420%;
    }
    .consulting>div>.butcall {
        padding: 14px 40px;
        font-size: 20px;
      }
      .contactinfo>div>div>p:nth-child(1){
        font-size: 15px;
      }
      .contactinfo>div>div>p:nth-child(2){
        font-size: 12px;
      }
      .social{
        width: 100%;
      }
      .socials{
        font-size: 15px;
        justify-content: normal;
      }
      .doc>h3{
        font-size: 22px;
      }
      .swiper{
        margin-bottom: 100px;
      }
  }


